<div class="ccsf">
<h1>CcsfRails#index</h1>

<p>This is the CCSF Rails index page.</p>
<!--<p>Find me in app/views/ccsf_rails/index.html.erb</p>-->

You can edit this file here: <%= __FILE__ %>

</div>
